<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <%- include('../partials/nav.ejs') %>
    <main>
        <h1>All posts</h1>
        <% categories.forEach(category => { %>
            <% allBlogsByCategories[category].forEach((blog) => {  %>
                <h4><%= blog.postTitle %></h4>
                <p><%= blog.message %></p>
                <p>Has img:<%= blog.hasImg %></p>
                <p><small>Posted by: <%= blog.userName %></small></p>
                <a href="/blogs/<%= blog._id %>"><%= blog.postTitle %></a>
                <% }) %>
            <%  %>
            <%  %>
        <% }) %>

    </main>
</body>
</html>